.login-page{
    background: rgb(77,87,185); /* Old browsers */
    background: -moz-linear-gradient(left, rgb(77,87,185) 0%, rgb(32,168,220) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(77,87,185) 0%,rgb(32,168,220) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(77,87,185) 0%,rgb(32,168,220) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d57b9', endColorstr='#20a8dc',GradientType=1 ); /* IE6-9 */
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: rgba(66, 68, 88, 0.47);
    -webkit-border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgba(236, 242, 246, 0.59);
    -webkit-border-radius: 12px;
}

::-webkit-scrollbar-corner {
    background: #e1e1e1;
}



.text-center{ text-align: center}
.main-nav{
    position: fixed;
    top:0px;
    width: 100%;
    height: 60px;
    background-color: #424458;
    left: 0px;
    min-width: 1000px;
    z-index: 999;
}
.main-nav .intra-search-bar{
    border: none;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    background: #66687d;
    color:#e0e1e6;
    font-size: 18px;
    font-weight: lighter;
    outline: none;
}
.main-nav .intra-search-bar::placeholder {color: #c0c3ce;opacity: 1;}
.main-nav .intra-search-bar:-ms-input-placeholder {color: #c0c3ce;}
.main-nav .intra-search-bar::-ms-input-placeholder {color: #c0c3ce;}
.main-nav .container{ min-width: 668px;}
.main-container{
    margin-top: 90px;
}

.attached-image{

}
.main-nav .nav-row{
    height: 60px;
    line-height: 16px;
}
.main-nav li a{
    display: block;
    height: 60px;
    text-decoration: none;
    color:#929fad;
    padding: 0px 15px 0px;
}
.main-nav li a:hover{
    background: #4f5165;
}
.main-nav .post-user-float { margin-top: 13px;}
.main-nav .post-user-image-con{ margin-top: 10px;}
.main-nav .post-user-float span{ display: block;}
.main-nav .nav-menu{
    height: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.main-nav .drop-down:before{
    font-family: FontAwesome;
    content: "\f107";
    margin-left: 15px;
}
.main-nav .nav-menu li{
    position: relative;
    height: 60px;
    line-height: 60px;
    float: left;
    color:#fff;
}
.main-nav .nav-menu li:last-child{
    padding: 0px 0px 0px;
}
.main-nav .nav-menu li .child-menu{
    position: absolute;
    display: none;
    background-color: #424458;
    list-style: none;
    margin: 0;
    padding: 0;
    right:0px;
    top:60px;
}
.main-nav .nav-menu li:hover .child-menu{ display: block;}
.main-nav .nav-menu li .child-menu li{
    float: none;
    height: auto;
    line-height:30px;
}
.main-nav .nav-menu li .child-menu li a{
    height: 40px;
    line-height:40px;
    border-top: 1px solid #5a5c6f;
    width: 220px;
}
.main-nav .nav-menu li .child-menu .notification-message{}
.main-nav .nav-menu li .child-menu .notification-message a{
    width: 290px;
    height: auto;
    line-height: 18px;
    padding: 5px 15px 5px;
}
.main-nav .nav-menu li .child-menu .notification-message .show-more-button{
    line-height: 30px;
}
.show-more-notification{
    display: block;
    max-height: 235px;
    overflow: auto;
}
.main-nav .nav-menu li .post-notification-alert{ display: block;}

.main-nav .nav-menu li .child-menu .notification-message a strong{ font-weight: 600;}
.main-nav .bell-notification{ position: relative;}
.main-nav .bell-notification .badge{
    position: absolute;
    top:15px;
    right:7px;
}
.panel-post textarea{
    border: none;
}
.panel-post .panel-footer .font-icon{
    font-size: 20px;
    color:#858CA8;
    margin-left: 10px;

}
.panel-post .panel-footer .font-icon:first-child{ margin-left: 0px;}
.panel-post .panel-footer .font-icon:hover{
    color:#17a2b8;

}
.panel-post .panel-footer .font-icon .fa{
    margin: 0px 5px 0px 0px;
}

.panel-post .panel-footer .text-right .font-icon .fa{
    margin: 0px 0px 0px 5px;
}

.panel-post .panel-footer .like-section .icon-active{
    color:#ff9800;
}
.panel-post .panel-footer a svg{
    -ms-transition: transform .2s;
    -webkit-transition: transform .2s;
    transition: transform .2s;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
.panel-post .panel-footer a:active svg{
    -ms-transition: transform .2s;
    -webkit-transition: transform .2s;
    transition: transform .2s;
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}

.zoom {
    padding: 50px;
    background-color: green;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}






.panel-post .post-announcement{
    height: 100px;
    margin-bottom: 15px;
    width: 100%;
}
.panel-post .cke_editable {
    cursor: text;
    min-height: 100px;
    outline: none;
    margin-bottom: 15px;
}
.modal-content .cke_editable img,
.panel-post .cke_editable img{
    max-width: 100%;
    height: auto;
}
.panel .upload-profile-photo{
    text-decoration: none;
    cursor: pointer;
    color:#424458;
}
.panel .upload-profile-photo:hover{
    opacity: 0.7;
}
.panel .pro-name{
    text-align: center;
    font-weight: 500;
}
.panel .pro-image{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 50%;
    overflow: hidden;
}
.panel .pro-image img{
    display: block;
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
}



.panel-birthday{
    background: url(../images/bday.png) repeat-x #7455BB;
}
.panel-birthday .heading{ margin-top: 30px;}
.panel-birthday .birthday{
    color:#FFF;
    font-size: 20px;
    font-weight: 600;
    font-family: cursive;
}
.panel-weather{
    background: url(../images/snow-background.jpg) repeat-x #fff;
}
.display-next{ text-align: center;}
.display-next .forcast img{
    width:70px;
    height:70px;
    display: block;
    margin: -15px;
}
.display-next .forcast{

    display: inline-block;
    width:40px;
    height: 40px;
    margin: 10px;
    font-weight: bold;
    color: rgba(66, 68, 88, 0.56);
}
.panel-weather .temperature_string{
    font-size: 25px;
    line-height: 28px;
    font-weight: bold;
    color: rgba(66, 68, 88, 0.56);
}
.panel-weather .icon_url0 img{
    display: block;
    margin: 0 auto;
    margin-top:5px;
    width:70px;
    height:70px;
}
.panel-weather .location,
.panel-weather .title0{
    font-weight: bold;
    color: rgba(66, 68, 88, 0.56);
    font-size: 30px;
    text-align: center;
}
.panel-weather .fcttext0{ text-align: center;}

.panel .like-section a{
    text-decoration: none;
}

.panel .post-images .row{
    position: relative;
}
.panel .post-images .cols{
    position: relative;
    margin-top: 15px;
}
.panel .post-images .posted-images .cols .close{
    display: none;
    position: absolute;
    right:0px;
    top:-10px;
    width: 25px;
    height: 25px;
    line-height: 23px;
    font-size: 15px;
}
.panel .post-images .posted-images .cols:hover .close{
    display: block;
}
.panel .announcement-messege img,
.panel .post-images img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.panel .post-images,
.panel .announcement-messege{
    margin-bottom: 15px;
    word-break: break-word;
}
.panel .announcement-messege .limit-text{
    overflow: hidden;
    max-height: 110px;
}
.panel .announcement-messege .see-more-text{
    margin-top: 5px;
    cursor: pointer;
    color: #1253a5;
    font-weight: 600;
    display: inline-block;
}
.panel .announcement-messege .see-more-text:hover{color: #628bbf;}
.panel .announcement-messege .text-right{
    text-align: right;
    box-shadow: 0px -2px 6px #ffffff;
    position: relative;
    z-index: 9;
}
.panel .post-videos iframe{
    display: block;
    width: 100%;
    height: 400px;
    background-color: #000000;
    margin-bottom: 15px;
}
.post-user{ overflow: hidden; margin-bottom: 15px;}
.post-user-float{ float: left; font-weight: 500;}
.post-user-float  .user-view-profile{
    color:#07304c;
    text-decoration: none;
    font-weight: 600;
}
.post-user-float .user-announcement{
    text-decoration: none;
    color:#7b7f8e;
}
.post-user-float .user-announcement:hover{ text-decoration: underline;}
.post-user-float .post-user-image{ width: 40px; height: auto; border-radius: 50%;}
.post-user-image-con{
    margin-right: 15px;
    background-color: #FFF;
    border-radius: 50%;
    width: 40px;
    height: 40px
}

.panel .pignose-calendar {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border: NONE;
    font-size: 100%;
    margin: 0 auto;
    box-shadow: none;
}
.panel .pignose-calendar .pignose-calendar-top {
    box-shadow: none;
}
.pro-info-table{
    width:100%;
}
.pro-info-table .info-icon{
    width: 20px;
    text-align: center;
}
.login-container{
    width: 1000px;
    margin: 0 auto;
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.70);
    padding: 40px;
    margin-top: 100px;
    border-radius: 10px;
}
.login-container .toa-logo{
    margin-top: 80px;
    width: 100%;
    height: auto;
}
.login-container .form-validation{
    display: block;
    padding-top: 100px;
    padding-bottom: 70px;
}
.login-container .member-login{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.login-container .form-login{
    border-radius: 30px;
    line-height: 20px;
    padding: 15px;
    font-size: 16px;
    background-color: #f5f2f2;
    border:1px solid #FFF;
    outline: none;
    display: block;
    width: 100%;
    padding-left: 40px;
    color:#283957 ;
}
.login-container input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #f5f2f2 inset;
    color: #283957 !important;
    -webkit-text-fill-color: #283957;
}
.login-container .form-group{ position: relative}
.login-container .form-group .label-icon{
    position: absolute;
    width: 20px;
    height: 20px;
    top:14px;
    left: 20px;
    font-size: 16px;
    color:#283957 ;
}
.login-container .btn-primary {
    outline: none;
    background: rgba(31,172,223,1);
    background: -moz-linear-gradient(left, rgba(31,172,223,1) 0%, rgba(1,216,141,1) 100%) !important;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(31,172,223,1)), color-stop(100%, rgba(1,216,141,1))) !important;
    background: -webkit-linear-gradient(left, rgba(31,172,223,1) 0%, rgba(1,216,141,1) 100%) !important;
    background: -o-linear-gradient(left, rgba(31,172,223,1) 0%, rgba(1,216,141,1) 100%) !important;
    background: -ms-linear-gradient(left, rgba(31,172,223,1) 0%, rgba(1,216,141,1) 100%) !important;
    background: linear-gradient(to right, rgba(31,172,223,1) 0%, rgba(1,216,141,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1facdf', endColorstr='#01d88d', GradientType=1 )!important;
    border-radius: 30px;
    border: none !important;
    padding-left: 0px;
    width: 100%;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    color:#FFF;
    outline: none !important;
}
.login-container .error-input input{
    border: 1px solid #bf0b0b;
}
.btn-loading{
    position: relative;
    height: 44px;
    width: 44px !important;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    margin: 0 auto;
    display: block;
    outline: none !important;
}
.btn-loading .text-login{
    display: none;
}
.btn-loading .loader-spinner {
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../images/Dual_Ring.svg) center center no-repeat;
    display: block;
    height: 44px;
    width: 100%;
    z-index: 9999;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    opacity: 1;
}
.form-forgot-password{
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
}
.login-back,
.login-link{ color: #07304c;}

.drop-images{ position: relative;border: 2px #d7d7d7 dashed; cursor: pointer;}
.drop-images .input-drop-images{
    position: relative;
    display: block;
    width: 100%;
    height: 250px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}
.drop-images .drop-here{
    position: absolute;
    top: 68px;
    width: 100%;
    left: 0;
    z-index: 1;
    font-size: 20px;
    font-weight: bold;
    color: #b7b5bb;
}
.drop-images .drop-here .btn{ margin-top: 10px;}
.radio-player{
    position: fixed;
    width: 400px;
    right:-400px;
    top:95px;
    height: 300px;
    z-index: 1;
    background: url(../images/loader.svg) #FFF no-repeat center center;
}
.radio-player iframe{
    border:none;
    height: 500px;
    width: 400px;
}
.radio-player .radio-opener{
    position: absolute;
    width: 60px;
    height: 56px;
    left:-60px;
    background-color: #FF9800;
    border-radius: 30px 0px 0px 30px;
    cursor: pointer;
}
.radio-player .radio-opener .fa-icon{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 21px;
    text-align: center;
    line-height: 37px;
    border-radius: 50%;
    background: #424458;
    color: #fff;
    margin-top: 8px;
    margin-left: 8px;
}
.radio-player .radio-opener .fa:hover{
    opacity: 0.7
}
.link-ellipsis{ height: 20px; line-height: 20px;overflow: hidden; text-overflow: ellipsis;  white-space: nowrap; float: left; max-width: 80%;}
.bot-box{
    position: fixed;
    width: 400px;
    right:-400px;
    top:150px;
    height: 615px;
    z-index: 0;
    background: url(../images/loader.svg) #FFF no-repeat center center;
}
.bot-box iframe{
    border:none;
    height: 630px;
    width: 400px;
    overflow: hidden;
}
.bot-box .bot-body{}
.bot-box .bot-opener{
    position: absolute;
    width: 60px;
    height: 56px;
    left:-60px;
    background-color: #0079fe;
    border-radius: 30px 0px 0px 30px;
    cursor: pointer;
}
.bot-box .bot-opener .fa{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    line-height: 37px;
    border-radius: 50%;
    background: #424458;
    color: #fff;
    margin-top: 8px;
    margin-left: 8px;
}
.bot-box .bot-opener .fa:hover{
    opacity: 0.7
}
.opacity-clear{ opacity: 0.1; }
.close{
    opacity: 0.8;
    display: block;
    position: absolute;
    right: -15px;
    top: -17px;
    z-index: 999;
    background: #000;
    color: #fff !important;
    font-weight: normal;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    line-height: 28px;
    border-radius: 50%;
}
.dropdown a{
    font-size: 14px;
    color: #7b7f8e;
}
.update-announcement{
    width: 100%;
    min-height: 200px;
}
.update-announcement-form .cke_editable{
    width: 100%;
    min-height: 200px;
    border :1px solid #ddd; padding: 5px;
    outline: none;
}
.tooltip-inner {background-color: #858CA8 !important; font-size: 12px;}
.bs-tooltip-top .arrow::before {     border-top-color:#858CA8 !important; }
.bs-tooltip-left .arrow::before  {
    border-left-color: #858CA8;
}
.tooltip .text-left{ text-align: left !important;}


.link-preview{ overflow: hidden;}
.link-preview  .image img{
    width: 100%;
    height: auto;
}
.link-preview {
    display: table-row;
}
.link-preview .col-view{
    display: table-cell;
    vertical-align: middle;
}
.link-preview .image-cell{ width: 200px; padding-bottom: 15px; padding-top: 15px;}
.link-preview .desc-cell{ padding-left: 15px; padding-bottom: 15px; padding-top: 15px; font-size: 12px;}
.link-preview .desc-cell p{ margin: 0;padding:0; padding-bottom: 10px;}
.link-preview-desciption a,
.link-preview a{ text-decoration: none;}
.link-preview-desciption .title,
.link-preview .title{
    color:#17a2b8;
    font-weight: 600;
    font-size: 16px;
}
.link-preview-desciption {padding-bottom: 15px}
.link-preview-desciption .description{font-size: 12px;}

.page-loading{ position: fixed; width: 100%; bottom: 0px; left: 0px;display: none; overflow: hidden;}
.loading-post .page-loading{display: block;}
.page-loading .loading-page-item{
    width: 300px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #E4EBF6;
    border-radius: 4px;
    background-color: #424458;
    margin: 10px auto;
    text-align: center;
    color: #d5d5dc;
}

.image-editor{
    width: 310px;
    margin: 15px auto;

}
.cropit-preview {
    border: 5px solid #ccc;
    background-color: #f8f8f8;
    background-size: cover;
    border-radius: 3px;
    margin-top: 7px;
    width: 310px;
    height: 310px;
}

.cropit-image-zoom-input{ width: 100%;}
.cropit-preview-image-container {
    cursor: move;
}

.cropit-preview-background {
    opacity: .2;
    cursor: auto;
}
.image-editor .rotate-left,
.image-editor .rotate-right{
    color:#424458;
    text-decoration: none;
}
.image-size-label {
    margin-top: 10px;
}
.image-editor table{ width: 100%}
.image-editor .file-uploader{
    opacity: 0;
    position: absolute;
    overflow: hidden;
    width: 0px;
    height: 0px;
}
input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #007bff;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #007bff;
}

input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #007bff;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

/* DivTable.com */
.divTable{
    display: table;
    width: 100%;
    border: 1px solid #dadada;
}
.divTableRow {
    display: table-row;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}
.divTableCell, .divTableHead {
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #dadada;
    display: table-cell;
    padding: 3px 10px;
}
.divTableRow .divTableCell:last-child{
    border-right: none;
}
.divTableBody .divTableRow:last-child .divTableCell{
    border-bottom: none;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}
.table-group-new{
    background-color: #ffffff;
}
