

.group-input {
    display: inline-block;

    white-space: normal;
}

.btn-normal {
    border : 1px;
    padding: 10px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}
.table th, .table td{
    border-bottom: none !important;
}
.btn-action {
    border : 1px;
    padding: 5px;

}
.dataTables_paginate   {
    float :right;
    margin-top : -40px;
}

.dataTables_paginate   a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;

}

.dataTables_paginate  a.active {
    background-color: #4CAF50;
    color: white;
}

.dataTables_paginate  a:hover:not(.active) {background-color: #ddd;}
.dataTables_length{text-align: left;}
.pagination_new a {
    color: black;

    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination_new a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination_new a:hover:not(.active) {background-color: #ddd;}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    text-decoration: none !important;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 800px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    text-decoration: none !important;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none !important;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}
.wrapper_modal{
    border-radius: 5px;
    text-align: center! important;
    width: 100%;

    padding: 10px;
}

.daterangepicker .ranges li {
    color: #73879C
}
.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
    background: #536A7F;
    border: 1px solid #536A7F;
    color: #fff
}
.daterangepicker .input-mini {
    background-color: #eee;
    border: 1px solid #ccc;
    box-shadow: none !important
}
.daterangepicker .input-mini.active {
    border: 1px solid #ccc
}
.daterangepicker select.monthselect,
.daterangepicker select.yearselect,
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default;
    height: 30px;
    border: 1px solid #ADB2B5;
    line-height: 30px;
    border-radius: 0px !important
}
.daterangepicker select.monthselect {
    margin-right: 2%
}
.daterangepicker td.in-range {
    background: #E4E7EA;
    color: #73879C
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #536A7F;
    color: #fff
}
.daterangepicker th.available:hover {
    background: #eee;
    color: #34495E
}
.daterangepicker:before,
.daterangepicker:after {
    content: none
}
.daterangepicker .calendar.single {
    margin: 0 0 4px 0
}
.daterangepicker .calendar.single .calendar-table {
    width: 224px;
    padding: 0 0 4px 0 !important
}
.daterangepicker .calendar.single .calendar-table thead tr:first-child th {
    padding: 8px 5px
}
.daterangepicker .calendar.single .calendar-table thead th {
    border-radius: 0
}
.daterangepicker.picker_1 {
    color: #fff;
    background: #34495E
}
.daterangepicker.picker_1 .calendar-table {
    background: #34495E
}
.daterangepicker.picker_1 .calendar-table thead tr {
    background: #213345
}
.daterangepicker.picker_1 .calendar-table thead tr:first-child {
    background: #1ABB9C
}
.daterangepicker.picker_1 .calendar-table td.off {
    background: #34495E;
    color: #999
}
.daterangepicker.picker_1 .calendar-table td.available:hover {
    color: #34495E
}
.daterangepicker.picker_2 .calendar-table thead tr {
    color: #1ABB9C
}
.daterangepicker.picker_2 .calendar-table thead tr:first-child {
    color: #73879C
}
.daterangepicker.picker_3 .calendar-table thead tr:first-child {
    color: #fff;
    background: #1ABB9C
}
.daterangepicker.picker_4 .calendar-table thead tr:first-child {
    color: #fff;
    background: #34495E
}
.daterangepicker.picker_4 .calendar-table td,
.daterangepicker.picker_4 .calendar-table td.off {
    background: #ECF0F1;
    border: 1px solid #fff;
    border-radius: 0
}
.daterangepicker.picker_4 .calendar-table td.active {
    background: #34495E
}
.calendar-exibit .show-calendar {
    float: none;
    display: block;
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    overflow: hidden
}
.calendar-exibit .show-calendar .calendar {
    margin: 0 0 4px 0
}
.calendar-exibit .show-calendar.picker_1 {
    background: #34495E
}
.calendar-exibit .calendar-table {
    padding: 0 0 4px 0
}
.calendar_caption{
    color : #17a2b8;
    font-size: 21px;
    padding : 15px;
}

.grid-row {
    width: auto;
    margin: 10 px;
    margin :10px;

}

.card {
    height: 115px;
    width: 230px;
    border: solid 1px #17a2b8;
    float: left;
    padding: 0px;
    margin: 10px;

}
.table-cell {
    height: 115px;
    width: 230px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.table-cell img.portrait {
    height: 100%;
}
.table-cell img.landscape {
    width: 100%;
}
.calendar_day{
    color : #FFFFFF;
    font-size: 45px;


}
.has-error > input{
    color: red !important;
    border:  1px solid #ff8080 !important;
}
.has-error > select{
    color: red !important;
    border:  1px solid #ff8080 !important;
}
.has-error > textarea{
    color: red !important;
    border:  1px solid #ff8080 !important;
}
.has-error > label{
    color: red !important;

}
.labelcaption {
    position: absolute;
    background: #fff;
    padding: 0px 2px 0px;
    height: 13px;
    line-height: 11px; 
    left: 21px;
    z-index: 1;
    font-size: 13px;
    
}
.bigcaption{
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    color:#1abc9c;
    
}
.calendarcss{
    color: #ADB2B5 !important;
}

.fieldset {
    display: block;
    border : 1px splid yellow;
}
.clockinput{
    width : 100px;
    color:black;
    border-radius: 25px;
    border : 1px solid #d3d9df;
    height : 27px;
    text-align: center

}
.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.default_width{
    width : 35%;


}
.calendardetails h1{
    color: white;
    font-size : 40px;
}
.viewbtn {
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 28px;
    font-family: Arial;
    color: #17a2b8;
    font-size: 11px;
    padding: 10px 20px 10px 20px;
    border: solid #17a2b8 2px;
    text-decoration: none;
    background-color: white;
}

.viewbtn:hover {
    text-decoration: none;
}
.calendar_caption{
    text-transform: uppercase;
}
.modal-profile .tab-content{
    margin-top: 30px;
}
.modal-profile .form-group{ position: relative;}
.modal-profile  .labelcaption {
    left: 5px;
}
.calendarcaption{
    text-align: center !important;
    
}
.my-legend{
    padding : 5px;
}
.center_font{
    text-align: center;
}
.monthbox{
    background-color:#EEEEEE; 
    height:200px;
    padding-bottom: 3px;
}
.leftlink{
    color:#49c4d0;
}
.wrapper{ 
   
    display: block; 
    overflow:auto;
    height: 120px;
}
.caption_box_calendar{ 
   background-color: #1abc9c;
   color:white;
}
.buttonnocss{
     border:none;
     background-color: white;
     color:#BEB5B5;
     cursor: pointer;
}
